[submodule "test_lib/bats-core"]
	path = test_lib/bats-core
	url = https://github.com/bats-core/bats-core
[submodule "test_lib/bats-support"]
	path = test_lib/bats-support
	url = https://github.com/ztombol/bats-support
[submodule "test_lib/bats-assert"]
	path = test_lib/bats-assert
	url = https://github.com/ztombol/bats-assert
[submodule "test_lib/bats-file"]
	path = test_lib/bats-file
	url = https://github.com/ztombol/bats-file

[submodule "fabic-st3-prefs"]
	path = fabic/dot_config_sublime-text-3
	url = git@github.com:fabic/my-sublime-text-prefs.git
[submodule "spf-vim"]
	path = fabic/spf13-vim
	url = git@github.com:fabic/spf13-vim.git
[submodule "powerline-fonts"]
	path = fabic/powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule "fabic-dude-vim"]
	path = fabic/dude.vim
	url = git@github.com:fabic/dude.vim.git
[submodule "whiteinge-ok-sh"]
	path = fabic/3rdparty/ok.sh
	url = git@github.com:whiteinge/ok.sh.git
[submodule "fabic/3rdparty/phpstorm-url-handler"]
	path = fabic/3rdparty/phpstorm-url-handler
	url = git@github.com:sanduhrs/phpstorm-url-handler.git
[submodule "gogh-term-themes"]
	path = fabic/3rdparty/gogh-terminal-themes
	url = https://github.com/Mayccoll/Gogh.git
[submodule "fabic/3rdparty/slugify"]
	path = fabic/3rdparty/slugify
	url = https://github.com/benlinton/slugify.git
